%h1 All Clubs

%table.admin-table
  %tr
    %th
    %th
    %th

  - @clubs.each do |club|
    %tr
      %td
        %strong 
          %a{:href => "#{club_path(club.id)}"} 
            = club.name
      %td= club.description
      - if current_user.clubs.include? @club == false
        %td= link_to 'Join', join_club_path(club), method: :post
      %td= link_to 'More Info', club
      / # %td= link_to 'Edit', edit_club_path(club)
      / # %td= link_to 'Destroy', club, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

%p 
  = link_to 'Create New Club', new_club_path, class: "submit"
