%h1 
  = @club.name

%p 
  = @club.description

%h2 Club Admins

%p Admins are still a part of the lunch pool.

- @club.memberships.where(is_admin: true).each do |m|
  %p.club-member 
    %strong= m.user.first_name + ' ' + m.user.last_name

%h2 Club Members

- @club.memberships.where(is_admin: nil).each do |m|
  %p.club-member 
    %strong
      = m.user.first_name + ' ' + m.user.last_name
    %span 
      \|
    = link_to 'Remove', membership_path(m), method: :delete
    %span 
      \|
    = link_to "Make Admin", make_admin_membership_path(m), method: :post


%br/ 
%br/ 

%p 
  = link_to "Invite people to join #{@club.name}", new_pending_membership_path(:club => @club.id), class: "t-bold"

- if @current_user_membership != nil && @current_user_membership.is_admin == true && @club.pending_memberships.length > 0

  %h2 Pending Members

  - @club.pending_memberships.each do |p|
    %p.club-member 
      %strong
        = p.user_first_name + ' ' + p.user_last_name
      %span 
        \|
      = link_to 'Approve Membership', approve_membership_club_path(p), method: :post
      %span 
        \|
      = link_to 'Deny Membership', deny_membership_club_path(p), method: :post


%br/ 
%br/ 
= link_to 'Join', join_club_path(@club), method: :post
\|
= link_to 'Edit', edit_club_path(@club)
\|
= link_to 'All Clubs', clubs_path
