%h1 Sign in
.center-box
  .is-inline-block
    = form_tag sessions_path do
      = text_field_tag :email, params[:email], placeholder: "Email"
      = password_field_tag :password, nil, placeholder: "Password"
      = submit_tag "Sign in"

%section.sign-up 

%h2 
  Don't have an account?
  = link_to "Sign up here.", sign_up_path