%h1.is-ta-center 
  Hi
  = @user.first_name

- if (Lunch.where(luncher_id: nil, user_id: @user.id).length >= @user.clubs.length)
  %p 
    There are no new people in your clubs to lunch with.
- else
  %p
    There are still people that you haven't lunched with yet!

    = link_to "Find a new lunch!", lunches_path, class: "submit", :method => :post

.clubs-list
  %h2 YOUR CLUBS
  - if @user.clubs.length == 0
    %p Your club registration is currently being verified.
  - else
    - @user.clubs.each do |c|
      %a.club{:href => "#{club_path(c.id)}"} 
        = c.name
  
  %br/ 
  %a.is-block{:href => "#{clubs_path}"} Join more clubs!

%a.is-right{:href => "#{edit_user_path(@user)}"} 
  Edit your info.
