%p#notice= notice

- if @user.is_verified
  %h1.is-ta-center 
    Hello
    = @user.first_name


  - if (Lunch.where(luncher_id: nil, user_id: @user.id).length > 0)

    %p 
      There are no new Ballers in 
      = @user.city
      to lunch with.
  - else
    %p
      There are still Ballers in
      =@user.city
      that you haven't lunched with yet!

      = link_to "Find a new lunch!", lunches_path, class: "submit", :method => :post

  = link_to 'Edit your info', edit_user_path(@user)


- else
  %p.l-first.is-ta-center
    Your registration is currently being verified. Once it's verified you will receive an email notification (be sure to check your spam folder).

  %p.is-ta-center
    In the meantime, you may still
    %a{:href => "#{edit_user_path}"} edit your info.
