.profile.is-left

  %h1.is-ta-left 
    = @user.first_name
    = @user.last_name

  - if (Lunch.where(luncher_id: nil, user_id: @user.id).length >= @user.clubs.length)
    %p 
      There are no new people in your clubs to lunch with.
  - else
    %p
      There are still people that you haven't lunched with yet!

      = link_to "Find a new lunch!", lunches_path, class: "is-ta-center submit", :method => :post

  %a.is-block.is-ta-center{:href => "#{edit_user_path(@user)}"} 
    Edit your profile info.

.clubs-list.is-left
  %h2 Your Clubs 
  - if @user.clubs.length == 0
    %p Your club registration is currently being verified.
  - else
    - @user.clubs.each do |c|
      %p 
        %a.club{:href => "#{club_path(c.id)}"} 
          = c.name
  
  %br/ 
  %p.is-ta-center 
    %a.is-inline-block.is-ta-center.submit{:href => "#{clubs_path}"} Join more clubs


